In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("avocado1.csv")

In [5]:
df.head()

,Unnamed: 0,Date,AveragePrice,Total_Volume,Total_Bags,Small_Bags,Large_Bags,XLarge_Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

In [6]:
df.tail(3)

,Unnamed: 0,Date,AveragePrice,Total_Volume,Total_Bags,Small_Bags,Large_Bags,XLarge_Bags,type,year,region
18246,9,2018-01-21,1.87,13766.76,9394.11,9351.80,42.31,0.0,organic,2018,WestTexNewMexico
18247,10,2018-01-14,1.93,16205.22,10969.54,10919.54,50.00,0.0,organic,2018,WestTexNewMexico
18248,11,2018-01-07,1.62,17489.58,12014.15,11988.14,26.01,0.0,organic,2018,WestTexNewMexico

In [7]:
df.head(3)

,Unnamed: 0,Date,AveragePrice,Total_Volume,Total_Bags,Small_Bags,Large_Bags,XLarge_Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,8145.35,8042.21,103.14,0.0,conventional,2015,Albany

In [9]:
df.shape

(18249, 11)

In [12]:
df.columns

Index(['Unnamed: 0', 'Date', 'AveragePrice', 'Total_Volume', 'Total_Bags',
       'Small_Bags', 'Large_Bags', 'XLarge_Bags', 'type', 'year', 'region'],
      dtype='object')

In [14]:
df.index

RangeIndex(start=0, stop=18249, step=1)

In [19]:
df.set_index("Date")

,Unnamed: 0,AveragePrice,Total_Volume,Total_Bags,Small_Bags,Large_Bags,XLarge_Bags,type,year,region
Date,,,,,,,,,,
2015-12-27,0,1.33,64236.62,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
2015-12-20,1,1.35,54876.98,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2015-12-13,2,0.93,118220.22,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
2015-12-06,3,1.08,78992.15,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
2015-11-29,4,1.28,51039.60,6183.95,5986.26,197.69,0.0,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...
2018-02-04,7,1.63,17074.83,13498.67,13066.82,431.85,0.0,organic,2018,WestTexNewMexico
2018-01-28,8,1.71,13888.04,9264.84,8940.04,324.80,0.0,organic,2018,WestTexNewMexico
2018-01-21,9,1.87,13766.76,9394.11,9351.80,42.31,0.0,organic,2018,WestTexNewMexico
2018-01-14,10,1.93,16205.22,10969.54,10919.54,50.00,0.0,organic,2018,WestTexNewMexico
2018-01-07,11,1.62,17489.58,12014.15,11988.14,26.01,0.0,organic,2018,WestTexNewMexico

In [20]:
df.index

RangeIndex(start=0, stop=18249, step=1)